mat-card-header h1 {
    width: 100%;
    text-align: center;
}

mat-card-actions {
    display: flex;
    justify-content: center;
    gap: 8px;
}

mat-card {
    margin-left: auto;
    margin-right: auto;
}