.card-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.toy-card {
    width: 240px;
}

.card-content {
    margin-top: 10px;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

mat-form-field {
    width: 300px;
}

@media screen and (max-width: 640px) {
    .search-wrapper {
        gap: 0px;
    }

    .toy-card {
        width: 300px;
    }
}